[Desktop Entry]
Version=1.0
Name=Simple-GsmGUI
Comment=Allow to dial and receive phone calls
Exec=start-gsmgui.sh
Icon=none
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=true
